@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.eot');
  src: local('Muller Light'), local('MullerLight'),
    url('../fonts/MullerLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff'),
    url('../fonts/MullerLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.eot');
  src: local('Muller Regular'), local('MullerRegular'),
    url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff'),
    url('../fonts/MullerRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.eot');
  src: local('Muller Medium'), local('MullerMedium'),
    url('../fonts/MullerMedium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff'),
    url('../fonts/MullerMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.eot');
  src: local('Muller Bold'), local('MullerBold'),
    url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff'),
    url('../fonts/MullerBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerExtraBold.eot');
  src: local('Muller ExtraBold'), local('MullerExtraBold'),
    url('../fonts/MullerExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerExtraBold.woff2') format('woff2'),
    url('../fonts/MullerExtraBold.woff') format('woff'),
    url('../fonts/MullerExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBlack.eot');
  src: local('Muller Black'), local('MullerBlack'),
    url('../fonts/MullerBlack.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerBlack.woff2') format('woff2'),
    url('../fonts/MullerBlack.woff') format('woff'),
    url('../fonts/MullerBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
